@mixin contentBackground {
    @include filter-gradient(rgba(255,255,255,0), #ffffff, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%));
}

@mixin redGradient {
    background-color: #a90329;
    @include filter-gradient(#a90329, #540012, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #a90329 0%,#7f0215 46%,#540012 100%));
}